@model EntityLayer.Concrete.Role
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Yetkili Düzenleme</h3>
    </div>
    @using (Html.BeginForm("EditRole", "Role", FormMethod.Post))
    {
        <div class="card-body">
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group">
                        <label>Rol Adı</label>
                        @Html.HiddenFor(x => x.RoleID)
                        @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control", required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <button style="margin-right:20px; float:right;" class="btn btn-info"><i class="fas fa-save"></i> Güncelle</button>
        <br /><br /><br />
    }
    <partial name="./RoleList.cshtml" model="Model.RoleApplications" />
</div>

