@model EntityLayer.Concrete.Title
@{
    ViewData["Title"] = "AddTitle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Ünvan Ekleme Sayfası</h3>
    </div>
    <form class="form-group" method="post">

        <br />

        <div class="col-12">
            <div class="form-group">
                <label>Departman</label>
                @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.list, new { @class = "form-control text-white" })
            </div>
            <div class="form-group">
                <label>Ünvan</label>
                @Html.TextBoxFor(x => x.TitleName, new { @class = "form-control text-white", required = "required" })
            </div>

        </div>

        <button class="btn btn-info fas fa-check-circle float-right mr-3"> Kaydet</button>



    </form>

</div>

