@using EntityLayer.Concrete
@model List<Title>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 stretch-card">
    <div class="card">

        <div class="card-body">
            <div>
                <h4 class="card-title float-left">Ünvan Listesi</h4>
                <a href="/Title/AddTitle/" class="btn btn-info float-right">+ Ünvan Ekle</a>

            </div>

            @*<p class="card-description">
                    Add class <code>.table-{color}</code>
                </p>*@
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-contextual">
                    <thead>
                        <tr>
                            <th> Departman Adı </th>
                            <th> Ünvan Adı </th>
                            <th> Düzenle </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var title in Model)
                        {
                            <tr class="table-dark">
                                <td>@title.Department.DepartmentName</td>
                                <td>@title.TitleName</td>
                                <td><a href="/Title/EditTitle/@title.TitleID" class="btn btn-warning"><i class="mdi mdi-update"></i>Düzenle</a></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

